<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' type="text/css">
</head>
<body>
    
    <h1><%= title %></h1>
    
    <table align="left" cellpadding="2" cellspacing="8">
        <tr>
            <th>Name</th>
            <th>Private</th>
        </tr>
        <tr>
            <td><%= project.name %></td>
            <td><%= project.private %></td>
        </tr>
    </table>
    
</body>
</html>